body {
    height: 100vh;
    width: 100vw;
}
.main-left {
    background: #4a90e2;
    width: calc(100vw/3);
    height: 100vh;
    float:left;

}
.main-center {
    background: #50e3c2;
    width: calc(100vw/3);
    height: 100vh;
    float: left;

}
.main-right {
    background: #b8e986;
    width: calc(100vw/3);
    height: 100vh;
    float: left;
    padding-top:70vh;
}

.image {
  background: red;
  width: 100%;
  height: 30vh;
}
