body {
  background: #d8d8d8;
}

header {
  background: #444;
  height: 100px;
  width:100vw;
  margin-bottom: 0;

}

.main-content {
  background: #efefef;
  margin:0 100px 0 100px;
  height:calc(100vh - 150px);

}

footer {
  background: #222;
  height: 50px;
  margin:0 100px 0 100px;
}
